<%- include ('partials/header'); %>
<div class="card border-0" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">Home</h1>
    <p class="card-text"><%= startingContext %></p>
  </div>
</div>

<% posts.forEach((post)=> { %>
<div class="card border-0" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title"><%= post.title %></h1>
    <p class="card-text">
      <%= post.content.substring(0, 100) + "... " %>
      <a href="/posts/<%= post.title %>">Read More</a>
    </p>
  </div>
</div>
<% }) %> <%- include ('partials/footer'); %>
